<!doctype html>
<html lang="en">
{% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/docs/4.1/assets/img/favicons/favicon.ico">

    <title>Akintomiwa Akin-Onigbinde</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.1/examples/album/">

    <!-- Bootstrap core CSS -->
    <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="album.css" rel="stylesheet">
  </head>

  <body>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Project Portfolio</h1>
          <p class="lead text-muted">Hello, I'm Tomiwa and I enjoy developing data-centric software solutions for research and business applications. From machine learning models to agent-based models. 
            I also enjoy discussing cool ideas with people - on a video call or on the basketball court.</p>
          <p>
            <a href="mailto:tomiwa@cousinakin.com" class="btn btn-primary my-2">Email me</a>
            <a href="https://akintomiwa.github.io/" class="btn btn-secondary my-2">See my Github!</a>
          </p>
          <img src="{% static 'Tomiwa_s.jpg' %}" alt="Tomiwa" height=300 ></img>
        </div>
      </section>
      <!-- <section>
        <p>Here are some projects I have worked on:</p>
      </section> -->

      <div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
            {% for project in projects.all %}
            <!-- <li><a href="{{ project.url }}">{{ project.title }}</a></li>     -->
            <div class="col-md-4">
                <a href="{% url 'projectdetail' project.id%}"> 
                <div class="card mb-4 shadow-sm">
                    <img class="card-img-top" src="{{ project.image.url }}" height=300 alt="Project image">
                    <div class="card-body">
                    <p class="card-text">{{project.title}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">{{ project.technology }}</button>
                        <a href="{{ project.url }}" class="btn btn-sm btn-outline-secondary">See more </a>
                        </div>
                        <!-- <small class="text-muted">{{project.type}}</small> -->
                    </div>
                    </div>
                </a>
                 </div>
            </div>
            {% endfor %}

    </main>

    <footer class="text-muted">
      <div class="container">
        <!-- <p class="float-right">
          <a href="#">Back to top</a>
        </p> -->
        <p>Akintomiwa Akin-Onigbinde &copy; 2024.</p>
       
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../assets/js/vendor/popper.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../assets/js/vendor/holder.min.js"></script> -->
    <script src="{% static '/jquery-3.7.1.min.js' %}" rel="stylesheet"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" rel="stylesheet"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script> -->
  </body>
</html>

    </body>


</html>